/* boilerplate */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Playfair", serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

:root {
  --darkblue: #1c77c3;
  --orange: #f3923776;
  --green: #18ad245d;
  --red: #d35553;
  --lightblue: #39a9db;
  --verylightblue: #40bcd84e;
  --lightgray: lightslategray;
}

h1 {
  font-size: 4rem;
  color: white;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.7));
  font-weight: 600;
  font-stretch: extra-condensed;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 100;
}

p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  width: auto;
}

section {
  flex: 1;
}

/* Header */
header {
  height: 30vh;
  width: 100vw;
  background-color: var(--green);
  padding-top: 50px;
  padding-left: 20px;
}

header p {
  margin-top: 20px;
  color: black;
  font-size: large;
  padding-left: 20px;
}

/* Main */

.bookCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(250px);
  row-gap: 10px;
  width: 98vw;
  height: auto;
  margin-left: 20px;
}

.bookInfo {
  width: 30vw;
  max-width: 230px;
  min-width: 200px;
  height: auto;
  max-height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: var(--verylightblue);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 0.3);
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.showFormBtn {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--orange);
  color: rgba(0, 0, 0, 0.663);
  font-size: large;
  font-weight: 600;
  width: 50vw;
}

.btnDiv {
  margin-top: 20px;
}

.changeStatus {
  padding: 5px;
  margin-bottom: 10px;
  background-color: var(--lightgray);
  color: white;
  border-radius: 10px;
}

.removeBtn {
  padding: 5px;
  background-color: var(--lightgray);
  color: white;
  border-radius: 10px;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 300px;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.formData {
  background-color: #fefefe;
  margin: 20vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  min-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: large;
  row-gap: 10px;
}

.close {
  color: #aaa;
  text-align: end;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submitBtn {
  font-size: 20px;
  padding: 10px;
}

/* footer */
footer {
  background-color: #dddada;
  padding: 20px;
  width: 100vw;
  margin-top: 50px;
}

.footerContainer {
  display: flex;
  padding-left: 2rem;
}

.footerContainer a {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 2rem;
}

@media (max-width: 550px) {
  html {
    min-width: 300px;
  }

  header {
    height: 40vh;
    min-width: 300px;
  }

  header p {
    margin-right: 40px;
  }

  .bookCard {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0;
  }
  .bookInfo {
    width: 90vw;
    max-width: 400px;
    min-width: 200px;
    height: 25vh;
    max-height: 300px;
    margin: 0;
  }

  .showFormBtn {
    width: 200px;
  }

  
}
